.item {
    color: #435875;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 12px;
    display: flex;
}

.item.active {
    color: #007BFF;
    background-color: #EDF3FC;
}

.linkText {
    margin-left: 12px;
}